:root {
	/* Surfaces and such */
	--on-background: #ffffff;
	--on-surface: #ffffff;
	--background: black;
	--surface: #242424;
	--on-surface-shadow: none;

	/* Status colours */
	--success: rgb(16, 172, 16);
	--error: red;
	--info: rgb(0, 217, 255);
	--disabled: gray;

	/* element colours */
	--primary: slateblue;
	--on-primary: white;
}
