/* MODAL */
.Element-Modal-Parent {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	z-index: 69;
	filter: none !important;
}

.Element-Modal {
	border-radius: 0.70rem;
	background-color: var(--surface);
	color: var(--on-surface);
	min-width: 20rem;
	min-height: 5rem;
	position: relative;
}

.Element-Modal-Header {
	display: flex;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
}

.Element-Modal-Header button {
	padding: 0;
	text-align: center;
	background-color: transparent;
	border: 0;
	color: white;
	margin-left: auto;
	display: flex;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	color: rgb(165, 163, 163);
}

.Element-Modal-Header button:hover {
	background-color: rgb(71, 71, 71);
	border-radius: 50%;
}

.Element-Modal-Body {
	padding: 1rem;
}

.Element-Modal-Footer {
	padding: 1rem;
}

.Element-Effect-Blur {
	width: 100%;
	height: 100vh;
	filter: blur(0.1rem);
}

/* modal animations */
.Element-Modal-Outbound {
	animation: Modal-Out .2s ease-in;
	animation-fill-mode: forwards;
}

@keyframes Modal-Out {
	0% { transform: none; }
	100% { transform: scale(-0%); }
}

/* ENDOF MODAL */

/* TOAST */

#Element-Toast-Container {
	position: fixed;
	display: flex;
	pointer-events: none;
	top: 0;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 1984;
}

.Element-Toast {
	pointer-events: all;
	margin: 0.5rem;
	position: relative;
	display: block;
	background-color: var(--surface);
	color: var(--on-surface);
	border-radius: 0.75rem;
	min-width: 10rem;
	text-align: center;
	overflow: hidden;
}

.Element-Toast-Content {
	padding: 1rem;
}

.Element-Toast-Expire-Outer {
	height: 0.5rem;
	background-color: rgb(68, 68, 68);
	width: 100%;
}

.Element-Toast-Expire-Inner {
	height: 100%;
	background-color: var(--primary);
	width: 100%;
	animation-name: Toast-Expire;
	animation-timing-function: linear;
	animation-direction: forwards;
}

@keyframes Toast-Expire {
	0% { width: 100%; }
	100% { width: 0%; }
}

@media only screen and (max-width: 546px) {
	.Element-Toast {
		min-width: 70vw;
	}
}

/* ENDOF TOAST */