@import url('/static/css/colours.css');

:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	"Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
	color: var(--on-background);
	padding-bottom: 10em;
}

.vl {
	display: inline-block;
	height: 2em;
	border-left: 3px solid rgba(255, 255, 255, 0.575);
}

a {
	color: var(--primary);
}

svg {
	width: 2em;
	height: 2em;
}

svg path {
	fill: var(--on-background);
}

/* Colours */
.primary {
	background-color: var(--primary);
	color: var(--on-primary);
}

.selected {
	outline: 0.5em solid var(--primary);
}

.error {
	background-color: var(--error);
	color: var(--on-primary);
}

.text-error {
	color: var(--error);
}

.text-success {
	color: var(--success);
}

.hide {
	display: none !important;
}


.surface {
	padding: 0.25em;
	margin: 0.25em;
	background-color: var(--surface);
	color: var(--on-surface);
	box-shadow: var(--on-surface-shadow);
}

.surface-light {
	background-color: var(--surface);
	color: var(--on-surface);
	box-shadow: var(--on-surface-shadow);
}

/* borders */

.border-error {
	border-color: var(--error) !important;
}

.border-success {
	border-color: var(--success) !important;
}

.border-info {
	border-color: var(--info) !important;
}

.border-thin {
	border-width: 1px !important;
}

.border-medium {
	border-width: 5px !important;
}

.border-thick {
	border-width: 7px !important;
}

.border-left {
	border-left: 1px solid white;
}

.border-right {
	border-right: 1px solid white;
}

.border-top {
	border-top: 1px solid white;
}

.border-bottom {
	border-bottom: 1px solid white;
}

/* margins and paddings */
.padding-small {
	padding: 0.25em;
}

.padding-medium {
	padding: 0.5em;
}

.padding-large {
	padding: 1em;
}

.margin-small {
	margin: 0.25em;
}

.margin-medium {
	margin: 0.5em;
}

.margin-large {
	margin: 1em;
}

/* container */
.container {
	width: 80%;
	margin: auto;
}

/* footer */
.footer {
	width: 100%;
}

.sticky-bottom {
	position: fixed;
	bottom: 0;
}

.text-center {
	text-align: center;
}

/* buttons */

.button {
	border: none;
	cursor: pointer;
}

.button-small {
	padding: 0.25em;
}

.button-medium {
	padding: 0.5em;
}

.button-large {
	padding: 1em;
}

.full-width {
	width: 100%;
}

/* inputs */
.input {
	border: none;
	background-color: transparent;
	padding: 0.2em;
	color:var(--on-background);
}

.input-underline {
	border-bottom: 1px solid var(--on-background);
}

.input-block {
	display: block;
}

.input-large {
	display: block;
}

.profilePicture {
	height: 10em;
	width: 10em;
	padding: 0.5em;
	cursor: pointer;
}


.form-group label {
	display: block;
}

.form-group input {
	display: block;
}

/* anim */
.fadeOut {
	animation-name: fadeOut;
	animation-duration: 2s;
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* Skeleton loading animation, courtesy of github@adel-sbeh  */
.skel {
    background: linear-gradient(90deg, rgb(41 41 41) 0%, rgb(80 80 80) 7%, rgb(53 53 53) 13%, rgb(33 33 33) 25%);
    background-size: 900%;
    background-position: 100% 0%;
    animation: skeletonAnimation 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: transparent;
}

.skel * {
    display: none !important;
}

@keyframes skeletonAnimation {
    0% {
        background-position: 100% 0%;
    }
    99.99% {
        background-position: -30% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

img.skel {
	border: none;
	width: 160px !important;
	height: 240px !important;
	display: inline-block;
}

.skel-content {
	min-height: 10em;
}

.curved {
	border-radius: 0.75em;
}

.overflow-hide {
	overflow: hidden;
}

#debuglogs {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: black;
}

#debugbtn {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	z-index: 99999999;
}