.meta-import {
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.5s;
    left: 0; top: 0; right: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.37);
}

.meta-import:hover {
	opacity: 1;
}

.mdb-res img {
	width: 10em;
	height: auto;
	display: inline-block;
}

.mdb-res .metaContent {
	height: 100%;
	display: inline-block;
}

.mdb-res {
	cursor: pointer;
	position: relative;
	display: flex;
	border-bottom: 2px solid black;
}

.mdb-res svg {
	transform: scale(2);
}

#updated-notification {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
}

#updated-notification a {
	color: inherit;
	text-decoration: none;
}

#updated-notification div {
	background-color: rgba(8, 233, 8, 0.336);
	outline: 2px solid rgb(4, 236, 4);
}

.slideUp {
	animation-name: slideUp;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
}

@keyframes slideUp {
	100% { transform: translateY(-150%); }
}