body, html {
	padding: 0;
	overflow-x: hidden;
}

video.player, iframe.player {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

audio.player {
	width: 100%;
}

#ap_container {
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	display: flex;
}

#ap {
	width: 50%;
	position: absolute;
}

#ap_img {
	height: 10em;
}

#ap_title {
	display: inline-block;
	position: absolute;
	top: 0;
	padding: 0.25em;
}

#thumbnail {
	float: left;
}

#video-title {
	width: 100%
}

#container-pp {
	display: inline-block;
	height: 100%;
	padding-left: 5px;
	border-left: 4px solid var(--primary);
}

#inner-meta-box {
	width: 60%;
	display: inline-block;
	padding: 0.5em;
}

#resumebtn, #closebtn {
	cursor: pointer;
	color: inherit;
}

#resumebtn {
	background-color: green;
}

#closebtn {
	background-color: red;
}

.slideUp {
	animation-name: slideUp;
	animation-duration: 1s;
}

#isPwa {
	width: 100%;
	position: relative;
}

#isPwa.error {
	background-color: red;
	color: white;
}

#isPwa.success {
	background-color: green;
	color: white;
}

#isPwa.error #isPwa_progress {
	display: none;
}

#isPwa.success #isPwa_progress {
	display: none;
}

#isPwa_progress {
	height: 0.3em;
	background-color: green;
	transition: .2s;
}

#has-watched {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 420;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.329);
}

#has-watched-container {
	border-radius: 1em;
	position: absolute;
	text-align: center;
}

@keyframes slideUp {
	0% { transform: translate(0,150%); }
	100% { transform: translate(0,0%); }
}

audio::--webkit-media-controls-play-button {
	display: none !important;
	-webkit-appearance: none;
}

@media only screen and (max-width: 546px) {
	#ap {
		width: 100%;
		position: absolute;
	}
}

#cast-audio, #cast-video {
	cursor: pointer;
	z-index: 999999;
	margin: 1.5em;
}

#cast-video {
	position: absolute;
	top: 0;
	right: 0;
}

#cast-audio {
	position: absolute;
	padding: 1em;
	top: 0;
	right: 0;
	background-color: #121212;
	border-radius: 50%;
}

#cast-audio svg {
	width: 24px;
	height: 24px;
}

#ccc {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ccc-inner {
	background-color: #3a3a3a;
	min-width: 50%;
	display: inline-block;
	padding: 1em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#cast-prog {
	width: 100%;
}